body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

a:hover {
    color: #66c5ec;
}

nav {
    height: 68px;
    border-bottom: 1px solid #ddd;
    box-shadow:1px 2px 2px #eee;
}

nav div {
    width: 1000px;
    margin: auto;
}

h1 {
    float: left;
    margin-left: 2.5em;
    font-size: 2em;
    line-height: 66px;
    position: relative;
}

h1:before {
    content: '';
    background-image: url('../img/logo1.png');
    background-size: 3em;
    background-position: center;
    width: 2em;
    height: 68px;
    display: block;
    position: absolute;
    left: -2.5em;
}

.navbar {
    float: right;
    display: flex;
}

.navbar-item {
    line-height: 68px;
    padding: 0 .5em;
}

.navbar-item:last-child {
    padding-right: 0;
}

.navbar-item.active a {
    color: #66c5ec;
}

.navbar-item a {
    width: 100%;
    height: 100%;
    display: block;
}

header {
    background: url('../img/header.jpg') no-repeat center / cover;
}

.bread-nav {
    margin-top: 300px;
    background-color: white;
    line-height: 3em;
    border-bottom: 1px solid #ddd;
    box-shadow:1px 2px 2px #eee;
    text-align: right;
    padding-right: calc(50% - 500px);
}

.container {
    width: 1000px;
    margin: auto;
    flex: 1;
}

.sidebar {
    width: 25%;
    background-color: rgba(238, 238, 238, .5);
    padding-bottom: 6em;
    margin-top: -128px;
}

h2 {
    height: 128px;
    text-align: center;
    font-size: 2em;
    padding-top: 1em;
    background-color: #333;
    color: white;
    box-sizing: border-box;
}

h2 i {
    display: block;
    font-size: .5em;
    color: #777;
}

.sidebar ul {
    padding: 1em 0;
}

.sidebar li {
    font-size: 1em;
    line-height: 4em;
    padding-left: 6em;
}

.sidebar li.active, .sidebar li:hover {
    background-color: #14b2ec;
    color: white;
}

footer {
    background: rgba(238, 238, 238, .5);
    padding: 1.5em 0;
    text-align: center;
    color: #aaa;
}

footer a {
    color: #aaa;
}

.link a {
    padding: 0 .3em;
}

.link a:not(:last-child) {
    border-right: 1px solid #aaa;
}
